.pekacek
  height 170px
  float left
  width 100%
  position relative
  transition height 0.4s
  margin-bottom 30px
  max-width 980px
  h2
    margin-top 20px
  .strana
    position absolute
    bottom 0px
    height 30px
    background yellow
    font-size 0.7em
    font-variant small-caps
    transition left 0.6s
    .popisek
      position absolute
      bottom 0px
      left 1px
      width (28px * 3 + 17)
      border-top 1px solid #666
      height 0px
      transition height 0.6s
      span
        position absolute
        top 0px
        width 100%
        text-align center
        transition top 0.6s
    &.losses
      .popisek
        height (28px * 5)
        span
          top @height
  .kosti
    position relative
    margin-top 6px
    left 5px
    .kost
      position absolute
      width 20px
      height 20px
      float left
      background black
      margin 0px 8px 8px 0px
      transition transform 0.6s, left 0.6s, bottom 0.6s
      transform scale(0) rotate(90deg)
      &.active
        transform scale(1) rotate(0deg)
        cursor help
  .kosti
    height (@height - 35px)
  &.losses
    height 260px
    .kosti
      height (@height - 35px)
      .kost.active
        cursor default
  .arrows.disabled
    display none
  .arrow
    position absolute
    bottom 0px
    font-variant small-caps
    font-size 0.7em
    text-transform uppercase
    &.arrow-zisky
      bottom (28px * 4.5)
      left 14px
      padding-left 14px
      div
        position absolute
        top 5px
        left 0px
        triangle(8px, 5px, 'top', ColorRed)
    &.arrow-ztraty
      bottom (28px * 5.2)
      left (28px * 8 * 4 - 28px)
      padding-right 14px
      div
        position absolute
        bottom 5px
        right 0px
        triangle(8px, 5px, 'bottom', ColorRed)


