@import colors
@import prefixes
@import 'components/triangle'
.ig
  @import basics
  @import Supplemental
  @import Pekac
  @import MapsContainer
  @import KrajeMap
  @import KrajDetail
  @import backbutton
  @import SenatMap
  @import SenatOverview
  @import Pekacek

#aside
  display none
#page-zpravy-portal #aside
  display block

.ig h1 a
  text-decoration underline
  color #494949
.ig.kraje h1 a:nth-of-type(3)
.ig.senat h1 a:nth-of-type(1)
.ig.senat1 h1 a:nth-of-type(2)
  text-decoration none
  color black
.ig .kraje-container
.ig .senat-container
  display none
.ig.kraje .kraje-container
.ig.senat1 .senat-container.kolo1
.ig.senat .senat-container.kolo2
  display block
.ig
  float left
  clear both
  width 1000px
  z-index 2000
  position relative
  background white
  padding 13px 0px 50px 0px
  h1
    font-size 36px
    font-weight bold
  .kosti-container
    display none
    &.active
      display block
    h2
      font-size 24px
      color #036
      margin 0px
      span.subtitle
        font-size 14px
        padding-left 20px
        font-weight normal
        top 17px
        right 20px
        color ColorRed
        text-decoration underline
        &:hover
          cursor pointer
          text-decoration none
  .navod
    font-size 14px
    a
      color black
      &:hover
        text-decoration none
  .kosti-container
    float left
    width 100%
    margin-top 26px
  .senat-overview
    margin-top 30px
  .more
    margin-top 20px
    float left
    display block
    margin-left 50%
    transform translate(-50%, 0)
    color ColorRed
    text-decoration none
    span
      text-decoration underline
    &:hover span
      text-decoration none
    .raquo
      display inline-block
      transform rotate(90deg)
      position relative
      left 10px
      top 2px
      font-size 30px
      transform-origin 4px 12px
      transition transform 0.4s
    &.active .raquo
      transform rotate(-90deg)

.tooltip
  z-index 9999 !important
