.senat-overview
  width 100%
  h2
    margin-top 33px
  .obvody
    .obvod
      float left
      clear left
      padding-top 10px
      padding-bottom 10px
      width 1000px
      margin-left -10px
      padding-left 10px
      &:nth-child(2n)
        background #ddd
      &.highlight
        background lighten(ColorHeading, 90%)
      h3
        .popisek
          display none
          font-weight normal
          padding-left 20px
          font-size 13px
          text-decoration underline
          &:hover
            cursor pointer
            text-decoration none

      &.highlight
        .popisek
          display inline
  .senat-overview
    height 120px
    margin-top 20px
    margin-bottom 30px
    position relative
    h3
      position absolute
      top -26px
    .senat-popisky
      position absolute
      bottom -13px
      left -3px
      .popisek
        width 60px
        position absolute
        bottom 0px
        font-size 0.7em
        text-transform uppercase
        transition left 0.6s
      .arrow
        position absolute
        top -5px
        left 0px
        triangle(8px, 5px, 'top', ColorHeading)
    &.old-senat
      margin-top 75px
      h2
        position absolute
        top -40px
        margin-top 0px
    &.new-senat
      .senat-popisky
        line-height 1em
        bottom -26px
        .arrow
          top -8px
    .obvod
      position absolute
      width 20px
      height 20px
      opacity 1
      transition top 0.6s, left 0.6s
      &.new-obvod .old
        background #eee
      &.new-obvod.contested
        opacity 1
        cursor pointer
      &.old-obvod
        cursor help
      .old
        position absolute
        width 20px
        height 20px
        border-radius 2px
      .first
      .second
        position absolute
        width 10px
        height 20px
    .obvod-new
        opacity 1
        .old
          opacity 0.4
          border-radius 0px
          top -3px
          left -3px
          width 26px
          height 26px
      .first
        border-top-left-radius 3px
        border-bottom-left-radius 3px
        left 0px
      .second
        border-top-right-radius 3px
        border-bottom-right-radius 3px
        right 0px
  .oldSenat
    float left
    clear left
    width 100%


  h3
    color ColorHeading
    float left
    clear left
    margin 0px
