.supplemental
  display inline
  .secteno
  .ucast
    position relative
    display inline-block
  h3
    font-weight normal
    text-align center
    margin 0px
    font-size 12px
    display inline-block
  .value
    display inline-block
    text-align center
    font-size 12px

  .progress
    width 50px
    height 6px
    background #dcdcdc
    display inline-block
    position relative
    margin 0 5px
    .fill
      position absolute
      top -1px
      left 0px
      background #000
      border-radius 1px
      min-width 2px
      height @height
.supplemental-mini
  position absolute
  right 10px
  top 1px
  .secteno
  .ucast
    position absolute
    right 0px
    top 0px
    margin 0px
    width 100px
  .ucast
    right 120px
  h3
  .value
    position absolute
    margin 0px
    padding 0px

  h3
    color #444 !important
    font-size 14px
    left 0px
    top 0px
  .value
    top -1px
    width auto
    right 0px
    font-size 16px
    font-weight normal
  .progress
    top 17px
    height 3px !important
    .fill
      height 3px
